<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
    
    <h1>Ajouter Produit</h1>
    <div class="form">

        <form method="POST" action="/addprod" class="form">
            <div class="form-group">
                <label>Nom du Produit</label>
                <input placeholder="nom" name="nom" class="input" id="nom" type="text"  required>
            </div>

            <div class="form-group">
                <label>Quantité</label>
                <input placeholder="quantite" name="quantite" class="input" id="prenom" type="number" required>
            </div>
            <div class="form-group">
                <label>Prix</label>
                <input placeholder="prix" name="prix" class="input" id="age" type="number" required> 
            </div>

            <div class="form-group"  style="padding-left: 160px;;">
                <label>Fournisseur:</label>
                <select name="four" class="input" required>
                    <% fournisseurs.forEach(function (four) { %>

                    <option > <%= four.nomfour %> </option>
                    <% }) %>
                </select>
                <a class="A" href="/addfourn">Ajouter Fournisseur</a>
            </div>

            <div class="form-group" style="padding-left: 160px;;">
                <label>Rayon</label>
                <select name="categ" class="input" required>
                    <% rayons.forEach(function (ray) { %>

                    <option> <%= ray.categorie %> </option>

                    <% }) %>
                </select>
                <a class="A" href="/addcat">Ajouter rayon</a>

            </div>


            <input class="A" type="submit" value="Ajouter">

        </form>
        <a style="margin-top: 10px;" type="button" href="/"  class="A">Produit</a>
        <a style="margin-top: 10px;" type="button" href="/fournisseur"  class="A">Fournisseur</a>
        <a style="margin-top: 10px; margin-bottom: 10px;" type="button" href="/rayon"  class="A">Rayon</a>
    </div>






</body>

</html>