<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <link rel="stylesheet" href="../style.css">
    <script src="script.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
   
    <h1>Modifier Fournisseur</h1>
    <div class="form">


            <% test.forEach(function (produc) { %>
                <form method="POST" action="/updatefourni/<%= produc.id %>" class="form">
                    <% }) %>

            <div class="form-group">
                <label>Nom du Fournisseur</label>
                <input placeholder="nom" name="nomfour" class="input" id="nom" type="text">
            </div>

            <div class="form-group">
                <label>Mail</label>
                <input placeholder="Mail" name="mail" class="input" id="prenom" type="text">
            </div>
            <div class="form-group">
                <label>Tele</label>
                <input placeholder="Tele" name="tele" class="input" id="age" type="number">
            </div> 
            <div class="form-group">                       
            <input style="margin-right: 20px;"class="A" type="submit" value="Modifier">
            <a  class="A" type="button" href="/fournisseur"  class="btn btn-outline-dark">Fournisseur</a> 
        </div>
        </form>



        <br> <br>
    </div>






</body>

</html>